@import url("https://use.typekit.net/pgw0ymf.css");

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 3vh 8vw;
}

h1,
h2,
h3,
h4 {
  font-family: contralto-big, sans-serif;
  font-weight: 600;
  font-style: normal;
}

a {
  font-family: contralto-small, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

.canvasHero {
  z-index: -1;
}