.container {
  margin: auto;
}

.header {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main {
  height: 85vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 5vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
